<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="b4mtab" translate="label" sortOrder="200">
            <label>BEST4MAGE EXTENSIONS</label>
        </tab>
        <section id="dppc" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Best4Mage DPPC</label>
            <tab>b4mtab</tab>
            <resource>Best4Mage_DPPC::config_dppc</resource>
            <group id="general_settings" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="configure_price" translate="label" type="select" sortOrder="20" showInDefault="1" showInStore="1" showInWebsite="1" >
                    <label>How to calculate price of Customizable Options with percent type?</label>
                    <source_model>Best4Mage\DPPC\Model\Config\Source\Configureprice</source_model>
                </field>
            </group>
            <group id="support_info" translate="label" type="text" sortOrder="30" showInDefault="1" showInStore="1" showInWebsite="1">
                <label>Support Info</label>
                <field id="version" translate="label" type="label" sortOrder="10" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Version</label>
                </field>
                <field id="portal_link" translate="label" type="label" sortOrder="20" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>For support visit</label>
                    <frontend_model>Best4Mage\DPPC\Block\Config\Support</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>
